* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url(img1.jpg);
  background-size: cover;
}
  .main{
    margin-top: 70px;
    margin-left: 760px;
    border: 1px solid black;
    width: 400px;
    background: rgba(42, 40, 44, 0.534);
    padding: 38px;
    border-radius: 6px;
  }
  .name{
    display: flex;
  }
  .main h1{
    text-align: center;
    color: #fff7f7;
  }
  form .input-text input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 52px;
    width: 90%;
    padding: 0 15px;
    font-size: 17px;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-radius: 8px; 
  }
  form .input-box input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    color: #333;
    border-radius: 8px;
  }
  .main form .input-box{
    height: 45px;
    margin: 18px 0;
  }
  .main form .input-text{
    height: 45px;
    margin: 18px 0;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    background: #4070f4;
    margin-top: 8px;
  }
  .input-box.button input:hover{
    background: #0fcf39;
    color: #333;
  }
  .main form .input-text label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 8px;
    display: inline-block;
  }
  .main form .input-box label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-bottom: 8px;
    display: inline-block;
  }
  .main form h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 8px;
    margin-top: 25px;
    display: inline-block;
    color: white;
  }
  .main form label{
    color: white;
  }
 
 